$button_background: var(--accent-light);
$button_border: 2px solid var(--accent-medium);
$button_color: var(--accent-dark);
$button_color--hover: var(--accent-medium);
$button_padding: 1rem;
$button_font-size: 1.5rem;
$button_font-weight: 600;
$button_image-size: 1rem;

.button {
    $root: &;
    
    background-color: $button_background;
    border: 0;
    border: $button_border;
    color: $button_color;
    cursor: pointer;
    display: flex;
    flex: 0 0 calc(50% - 0.5rem);
    font-size: $button_font-size;
    font-weight: $button_font-weight;
    justify-content: center;
    align-items: center;
    padding: $button_padding;
    transition: all 0.25s linear;

    &:hover {
        text-decoration: underline;
    }

    &--extension {
        margin: 1rem 2rem 1rem 3rem;
        width: calc(100% - 5rem);
        border-width: 1px;
        font-weight: 500;

        @media (hover: hover) and (pointer: fine) {
            display: flex;
        }  
    }

    &__icon {
        margin-right: $button_padding;
    }
}