$container_sidebar-background: var(--accent-light);
$container_sidebar-max-width: 40rem;

.container {
    $root: &;
    
    display: flex;
    min-height: 100vh;
    max-width: 100%;

    &__outer {
        &--sidebar {
            position: relative;
        }

        &--content {
            flex: 1;
        }
    }

    &__inner {
        &--sidebar {
            max-height: 100vh;
            height: 100%;
            width: 100%;
            overflow-y: auto;
            max-width: $container_sidebar-max-width;
            background-color: $container_sidebar-background;
            padding: 2rem;
            display: flex;
            flex-direction: column;
        }
    }
}
