$content_navbar-height: 6rem;
$content_scrollbar-track: var(--scroll-dark);
$content_scrollbar-thumb: var(--scroll-light);
$content_scrollbar-width: 1rem;
$content_empty-background: var(--bg-error);
$content_empty-color: var(--color-error);

.content {
    $root: &;
    
    flex: 1;
    height: 100%;
    scrollbar-width: $content_scrollbar-width;
    scrollbar-color: $content_scrollbar-track $content_scrollbar-thumb;

    ::-webkit-scrollbar {
        width: $content_scrollbar-width;
    }

    ::-webkit-scrollbar-track {
        background: $content_scrollbar-thumb;
    }

    ::-webkit-scrollbar-thumb {
        background-color: $content_scrollbar-track;
    }
     
    &__navbar {
        display: flex;
        height: $content_navbar-height;
        justify-content: space-between;
        align-items: center;
    }

    &__area {
        max-height: calc(100vh - $content_navbar-height);
        overflow-y: auto;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 2rem 1rem 0;
        justify-content: center;
    }

    &__empty {
        background-color: $content_empty-background;
        color: $content_empty-color;
        padding: 1rem 3rem;
        border-radius: 1rem;
    }
}