.content {
    flex: 1;
    height: 100%;
    scrollbar-width: 1rem;
    scrollbar-color: var(--scroll-dark) var(--scroll-light);

    ::-webkit-scrollbar {
        width: 1rem;
    }

    ::-webkit-scrollbar-track {
        background: var(--scroll-light);
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--scroll-dark);
    }
     
    &__navbar {
        display: flex;
        height: 5rem;
        justify-content: space-between;
        align-items: center;
    }

    &__area {
        max-height: calc(100vh - 5rem);
        overflow-y: auto;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 2rem 1rem 0;
        justify-content: center;
    }

    &__empty {
        background-color: var(--bg-error);
        color: var(--color-error);
        padding: 1rem 3rem;
        border-radius: 1rem;
    }
}