$content_background-color: var(--bg-dark);
$content_border-color: var(--border-light);

$content_message-background: var(--bg-light);
$content_message-color: var(--text-light);
$content_message-padding: 1rem 3rem;

$content_stats-width: 17rem;

.content {
    $root: &;
    
    flex: 1;
    height: 100%;
    background-color: $content_background-color;

    &__area {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        min-height: calc(100vh - 7rem);
        overflow-y: auto;
        padding: 0 1rem;
        width: 100%;
    }

    &__message {
        background-color: $content_message-background;
        color: $content_message-color;
        margin: 0;
        padding: $content_message-padding;

        strong {
            font-weight: 600;
        }
    }

    &__cards {
        align-content: flex-start;
        display: flex;
        flex-wrap: wrap;
        flex: 0 0 100%;
        justify-content: center;
        padding: 2rem 0;
        transition: all linear 3s;

        @include media('>=tablet') {
            padding-bottom: 8rem;
        }
    }

    &__animals,
    &__sponsors {
        align-content: flex-start;
        border: 1px dashed $content_border-color;
        display: flex;
        flex-wrap: wrap;
        flex: 0 0 100%;
        justify-content: center;
        margin: 1rem;
        padding: 2rem 0;

        &:empty {
            display: none;
        }
    }

    &__sponsors {
        margin-top: 0;
    }

    &__stats {
        align-self: flex-start;
        display: flex;
        flex-wrap: wrap;
        flex: 0 0 $content_stats-width;
        height: auto;
        max-width: $content_stats-width;
    }
}