$container_sidebar-background: var(--accent-light);
$container_sidebar-width: 45rem;
$container_sidebar-width--mobile: 32rem;

.container {
    $root: &;
    
    display: flex;
    max-width: 100%;
    min-height: 100vh;

    &__outer {
        z-index: 100;

        &--sidebar {
            ._sidebar & {
                z-index: 199;
            }
        }

        &--sidebar {
            background-color: $container_sidebar-background;
            flex: 0 0 $container_sidebar-width--mobile;
            height: 100vh;
            left: 0;
            margin-left: -$container_sidebar-width--mobile;
            max-width: $container_sidebar-width--mobile;
            position: fixed;
            top: 0;
            width: 100%;

            @include media('>=phoneLg') {
                flex: 0 0 $container_sidebar-width;
                margin-left: -$container_sidebar-width;
                max-width: $container_sidebar-width;
            }

            @include media('>=laptopLg') {
                margin-left: 0;
                position: sticky;
            }

            ._sidebar & {
                margin-left: 0;

                @include media('>=laptopLg') {
                    margin-left: -$container_sidebar-width;
                    position: relative;
                }
            }
        }
        
        &--content {
            flex: 1 1 100%;
            max-width: 100%;
            z-index: 99;
        }
    }

    &__inner {
        min-height: auto;
        position: sticky;
        top: 0;

        &--sidebar {
            display: flex;
            flex-direction: column;
            height: 100vh;
            overflow-y: auto;
        }
    }
}
