
$dialog_icon-sprites: 'sprites';

$dialog_background-color: var(--bg-dark);

$dialog_item-border-color: var(--bg-light);
$dialog_item-background--hover: var(--bg-light);
$dialog_item-color: var(--text-light);

$dialog_action-size: 1.4rem;
$dialog_action-size--title: 1.6rem;
$dialog_action-weight: 400;
$dialog_action-weight--title: 600;
$dialog_action-padding: 1.8rem 2.5rem;

$dialog_sort-size: 1.6rem;
$dialog_sort-weight: 400;
$dialog_sort-padding: 1.5rem;

$dialog_marine-ext-background-color: var(--bg-light);
$dialog_marine-ext-background-color--hover: var(--bg-dark);

.dialog {
    $root: &;   

    background-color: $dialog_background-color;
    
    &--offcanvas {
        border: 0;
        height: 100%;
        margin: 0;
        margin-left: auto;
        max-width: 40rem;
        min-height: 100vh;
        padding: 0;
        width: 80%;
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        border-left: 5px solid $dialog_item-border-color;
        color: $dialog_item-color;
    }

    &__item {
        background: no-repeat 1.5rem center transparent;
        border-bottom: 1px solid $dialog_item-border-color;
        cursor: pointer;
        padding: 1rem 2rem;
        display: flex;

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                background-color: $dialog_item-background--hover;
            }
        }

        &--marine {
            #{$root}--action & {
                position: relative;

                &::after {
                    content: 'Marine extension';
                    position: absolute;
                    top: 0.2rem;
                    right: 0.2rem;
                    background-color: $dialog_marine-ext-background-color;
                    font-size: 1rem;
                    text-transform: uppercase;
                    padding: 0.5rem 1rem;
                    font-weight: 600;
                }

                &:hover {
                    &::after {
                        background-color: $dialog_marine-ext-background-color--hover;
                    }
                }
            }
        }

        #{$root}--sort & {
            font-size: $dialog_sort-size;
            font-weight: $dialog_sort-weight;
            padding: $dialog_sort-padding;
            align-items: center;
        }

        #{$root}--action & {
            font-size: $dialog_action-size;
            font-weight: $dialog_action-weight;
            padding: $dialog_action-padding;
            position: relative;
            flex-direction: column;
            align-items: flex-start;

            &::before {
                content: attr(data-value);
                display: block;
                font-size: $dialog_action-size--title;
                font-weight: $dialog_action-weight--title;
                margin-bottom: 0.2rem;
                text-transform: uppercase;
            }
        }
    }

    &__icon {
        margin-right: 1.5rem;
    }
    
    &::backdrop {
        background-color: rgba(#222, 0.8);
        cursor: pointer;
    }
}
