$filter_category-border: 1px solid var(--accent-medium);
$filter_category-padding: 1.5rem 1rem;

$filter_checkbox-background: var(--color-white);
$filter_checkbox-color: var(--accent-dark);

$filter_label-color: var(--accent-dark);
$filter_label-size: 1.2rem;
$filter_label-weight: 500;

$filter_stat-background: var(--color-white);
$filter_stat-color: var(--color-black);
$filter_stat-padding: 0.2rem 0.5rem 0.1rem;
$filter_stat-size: 1.5rem;
$filter_stat-weight: 600;

$filter_tooltip-background: var(--color-black);
$filter_tooltip-color: var(--color-white);
$filter-tooltip-padding: 0.3rem 0.5rem 0.2rem;
$filter-tooltip-size: 1.4rem;
$filter-tooltip-weight: 600;

.filter {
    $root: &;

    &--sidebar {
        flex: 1 0 auto;
        padding: 2rem;
        padding-left: 3rem;

        #{$root}__item {
            flex: 0 0 calc(16.66% - 1rem);
            margin: 0.5rem;
            margin-bottom: 1.5rem;
        }
    }

    &__category {
        border: $filter_category-border;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        margin-bottom: 1rem;
        padding: $filter_category-padding;
        position: relative;

        &--extras {
            @include media('<phoneLg') {
                #{$root}__item {
                    margin-bottom: 0;
                }
                
                #{$root}__stat {
                    display: none;
                }
            }
        }
    }

    &__type {
        color: $filter_label-color;
        font-size: $filter_label-size;
        font-weight: $filter_label-weight;
        left: -0.1rem;
        padding: 0.2rem 0;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        top: 50%;
        transform: rotate(90deg) translateX(-50%);
        transform-origin: 0 0;
    }

    &__item {
        aspect-ratio: 1;
        display: block;
        position: relative;

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                cursor: pointer;
                
                #{$root}__label {
                    filter: grayscale(0);
                    opacity: 1;
                }
            }
        }
        
        @media (hover: hover) and (pointer: fine) {
            &[data-tooltip]:hover {
                &::after {
                    background-color: $filter_tooltip-background;
                    color: $filter_tooltip-color;
                    content: attr(data-tooltip);
                    font-size: $filter-tooltip-size;
                    font-weight: $filter_tooltip-weight;
                    left: 50%;
                    min-width: 100%;
                    padding: $filter_tooltip-padding;
                    position: absolute;
                    text-align: center;
                    text-transform: uppercase;
                    top: 90%;
                    transform: translateX(-50%);
                    white-space: nowrap;
                    z-index: 20;
                }
            }
        }

        @include media('>=laptop') {
            margin-bottom: 2rem;
        }

        &--no-label {
            @include media('>=laptop') {
                margin-bottom: 0.7rem;
            }
        }
    }

    &__checkbox {
        height: 0;
        position: absolute;
        visibility: hidden;
        width: 0;

        &:checked + #{$root}__label {
            filter: grayscale(0);
            opacity: 1;

            &::before {
                border-color: $filter_checkbox-color;
            }

            &::after {
                background-color: $filter_checkbox-color;
                content: '';
                height: 0.9rem;
                position: absolute;
                right: 0.1rem;
                top: 0.3rem;
                width: 0.9rem;
            }
        }
    }

    &__label {
        display: block;
        filter: grayscale(100%);
        height: 100%;
        opacity: 0.5;
        transition: all 0.25s linear;
        width: 100%;
        z-index: 99;

        &::before {
            background-color: $filter_checkbox-background;
            border: 2px solid $filter_checkbox-color;
            content: '';
            height: 1.7rem;
            position: absolute;
            right: -0.3rem;
            top: -0.1rem;
            width: 1.7rem;
        }

        &--hide {
            #{$root}__text {
                display: none;
            }
        }
    }

    &__stat {
        background-color: $filter_stat-background;
        color: $filter_stat-color;
        font-size: $filter_stat-size;
        font-weight: $filter_stat-weight;
        left: 50%;
        padding: $filter_stat-padding;
        position: absolute;
        top: 90%;
        transform: translateX(-50%);
        white-space: nowrap;

        @include media('>=laptop') {
            display: block;
        }
    }

    &__buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
}