$filter_category-border: 2px solid var(--accent-dark);
$filter_checkbox-accent: var(--accent-dark);
$filter_item-separator-color: var(--accent-dark);
$filter_label-background: var(--accent-dark);
$filter_label-color: var(--color-light);
$filter_type-background: var(--accent-dark);
$filter_type-color: var(--color-light);
$filter_action-reset-icon: 'icon-x'; 

.filter {
    $root: &;

    flex: 1 0 auto;

    padding: 1rem;

    @include media('>=phone') {
        padding: 2rem;
    }

    &__category {
        display: flex;
        flex-wrap: wrap;
        border: $filter_category-border;
        padding: 1rem;
        margin: 0;
        margin-bottom: 1rem;
        border-radius: 1rem;

        &--hide {
            display: none;
        }

        &--size {
            #{$root}__item:nth-child(-n+6) {
                margin-bottom: 0;
            }
        }
    }

    &__type {
        background-color: $filter_type-background;
        color: $filter_type-color;
        padding: 0.3rem 1rem;
        font-weight: 400;
        border-radius: 0.5rem;
    }

    &__item {
        display: block;
        flex: 0 0 calc(20% - 1rem);
        aspect-ratio: 1;
        position: relative;
        margin: 0.5rem;
        
        @include media('>=phoneLg') {
            flex: 0 0 calc(20% - 1.6rem);
            margin: 0.8rem;
        }

        &:nth-child(n+7) {
            margin-top: 1rem;
        }

        @include media('>=laptop') {
            margin-bottom: 2rem;
        }

        &--no-label {
            @include media('>=laptop') {
                margin-bottom: 0.7rem;
            }
        }

        &--full {
            width: 100%;
            height: 0.1rem;
            border-bottom: 1px solid $filter_item-separator-color;
            margin: 2rem 0 1rem;
            display: none;
        }

        &--separator {
            &::after {
                content: '';
                display: block;
                background-color: $filter_item-separator-color;
                position: absolute;
                top: 0;
                left: 50%;
                width: 0.1rem;
                height: 100%;
            }
        }
    }

    &__action {
        flex: 1;
        padding-left: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
    }

    &__action-title {
        color: var(--accent-dark);
        font-size: 1.2rem;
        margin-block: 0.8rem;
    }

    &__action-form {
        border: 2px solid var(--accent-dark);
        padding: 0.2rem 0.5rem;
        width: calc(100% - 3rem);
        margin-right: 3rem;
    }

    &__action-reset {
        position: absolute;
        bottom: 0.2rem;
        right: 0;
        width: 2.8rem;
        height: 2.8rem;
        background: url('./images/icons/#{$filter_action-reset-icon}.svg') no-repeat center center transparent;
    }

    &__checkbox {
        height: 0;
        width: 0;
        visibility: hidden;
        position: absolute;

        &:checked + #{$root}__label {
            filter: grayscale(0);
            opacity: 1;

            &::before {
                border-color: $filter_checkbox-accent;
            }

            &::after {
                content: '';
                position: absolute;
                right: 0.1rem;
                top: 0.1rem;
                width: 0.9rem;
                height: 0.9rem;
                background-color: $filter_checkbox-accent;
            }
        }
    }

    &__label {
        display: block;
        width: 100%;
        height: 100%;
        z-index: 99;
        filter: grayscale(100%);
        opacity: 0.5;
        transition: all 0.25s linear;

        &:hover {
            cursor: pointer;
            filter: grayscale(0%);
            opacity: 1;
        }

        &::before {
            content: '';
            position: absolute;
            top: -0.3rem;
            right: -0.3rem;
            width: 1.7rem;
            height: 1.7rem;
            background-color: var(--bg-light);
            border: 2px solid $filter_checkbox-accent;
        }

        &--hide {
            #{$root}__text {
                display: none;
            }
        }
    }

    &__text {
        display: none;
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translateX(-50%);
        background-color: $filter_label-background;
        color: $filter_label-color;
        padding: 0.3rem 0.5rem;
        font-size: 1.3rem;

        @include media('>=laptop') {
            display: block;
        }
    }

    &__buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
}