.filter {
    $root: &;

    flex: 1 0 auto;

    &__category {
        display: flex;
        flex-wrap: wrap;
        border: 2px solid var(--accent-dark);
        padding: 1rem;
        margin-bottom: 1rem;
        border-radius: 1rem;

        &--hide {
            display: none;
        }

        &--size {
            #{$root}__item:nth-child(-n+6) {
                margin-bottom: 0;
            }
        }
    }

    &__type {
        background-color: var(--accent-dark);
        color: var(--color-light);
        padding: 0.3rem 1rem;
        font-weight: 400;
        border-radius: 0.5rem;
    }

    &__item {
        display: block;
        width: 5rem;
        height: 5rem;
        position: relative;
        margin: 0.8rem 0.5rem;

        &:nth-child(n+7) {
            margin-top: 1rem;
        }
        
        @include media('>=phoneLg') {
            margin: 0.5rem 0.7rem;
        }

        @include media('>=laptop') {
            margin-bottom: 3.5rem;
        }

        &--no-label {
            @include media('>=laptop') {
                margin-bottom: 0.7rem;
            }
        }

        &--full {
            width: 100%;
            height: 0.1rem;
            border-bottom: 1px solid var(--accent-dark);
            margin: 2rem 0 1rem;
            display: none;
        }

        &--separator {
            &::after {
                content: '';
                display: block;
                background-color: var(--accent-dark);
                position: absolute;
                top: 0;
                left: 50%;
                width: 0.1rem;
                height: 100%;
            }
        }
    }

    &__checkbox {
        height: 0;
        width: 0;
        visibility: hidden;
        position: absolute;

        &:checked + #{$root}__label {
            filter: grayscale(0);
            opacity: 1;

            &::before {
                border-color: var(--accent-dark);
            }

            &::after {
                content: '';
                position: absolute;
                right: 0.1rem;
                bottom: 0.1rem;
                width: 0.9rem;
                height: 0.9rem;
                background-color: var(--accent-dark);
            }
        }
    }

    &__label {
        $position: 4.35%;

        display: block;
        width: 100%;
        height: 100%;
        background: url('./images/general/sprites.webp') no-repeat;
        background-size: 100% 2400%;
        background-position-x: 0;
        border-radius: 50%;
        z-index: 99;
        filter: grayscale(100%);
        opacity: 0.5;
        transition: all 0.25s linear;

        &:hover {
            cursor: pointer;
            filter: grayscale(0%);
            opacity: 1;
        }

        &::before {
            content: '';
            position: absolute;
            bottom: -0.3rem;
            right: -0.3rem;
            width: 1.7rem;
            height: 1.7rem;
            background-color: var(--bg-light);
            border: 2px solid var(--accent-dark);
        }

        &--size-1,
        &--size-2,
        &--size-3,
        &--size-4,
        &--size-5 {
            #{$root}__text {
                display: none;
            }
        }

        /* AREA */
        &--africa {
            background-position-y: $position * 1;
        }

        &--europe {
            background-position-y: $position * 0;
        }

        &--asia {
            background-position-y: $position * 2;
        }

        &--americas {
            background-position-y: $position * 4;
        }

        &--australia {
            background-position-y: $position * 3;
        }

        /* TYPE */
        &--bird {
            background-position-y: $position * 5;
        }

        &--predator {
            background-position-y: $position * 6;
        }

        &--herbivore {
            background-position-y: $position * 7;
        }

        &--reptile {
            background-position-y: $position * 8;
        }

        &--primate {
            background-position-y: $position * 9;
        }

        &--bear {
            background-position-y: $position * 19;
        }

        &--pet {
            background-position-y: $position * 18;
        }

        /* SIZE */
        &--size-1 {
            background-position-y: $position * 12;
        }

        &--size-2 {
            background-position-y: $position * 14;
        }

        &--size-3 {
            background-position-y: $position * 13;
        }

        &--size-4 {
            background-position-y: $position * 11;
        }

        &--size-5 {
            background-position-y: $position * 10;
        }

        &--size-small {
            background-position-y: $position * 16;
        }

        &--size-aviary {
            background-position-y: $position * 17;
        }

        &--size-terrarium {
            background-position-y: $position * 15;
        }

        /* SPECIAL */
        &--rock {
            background-position-y: $position * 20;
        }

        &--water {
            background-position-y: $position * 21;
        }

        /* BONUSES */
        &--conservation {
            background-position-y: $position * 22;
        }

        &--reputation {
            background-position-y: $position * 23;
        }
    }

    &__text {
        display: none;
        position: absolute;
        top: calc(100% + 1rem);
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--accent-dark);
        color: var(--color-light);
        padding: 0.3rem 0.5rem;
        font-size: 1.1rem;
        font-weight: 700;
        text-transform: uppercase;

        @include media('>=laptop') {
            display: block;
        }
    }
}