$information_border-top: 1px dashed var(--accent-dark);
$information_icon-size: 2rem;
$information_link-color: var(--accent-dark);

.information {
    $root: &;
    
    padding: 2rem;
    padding-top: 1.5rem;
    border-top: $information_border-top;

    &__item {
        display: flex;
        align-items: center;
    }

    &__icon {
        margin-right: 1rem;
        width: $information_icon-size;
    }

    &__link {
        color: $information_link-color;
        text-decoration: none;
        letter-spacing: -0.5px;
    }
}