$info_background: var(--accent-medium);
$info_border-color: var(--accent-light);
$info_color: var(--color-white);
$info_padding: 1rem;

$info_link-color: var(--color-white);
$info_link-color--hover: var(--accent-light);

$info_icon-github: 'brand-github';
$info_icon-home: 'world-www';
$info_icon-code: 'code';
$info_icon-size: 2rem;

$info_font-size: 1.5rem;
$info_font-weight: 500;

.info {
    $root: &;

    &--footer {
        background-color: $info_background;
        overflow: hidden;
    }

    &__icon {
        margin-right: 1rem;
    }

    &__about {
        color: $info_color;
        font-size: 1.2rem;
        padding: 1rem;
        padding-bottom: 0;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    &__list {
        display: flex;
        justify-content: center;
        list-style: none;
        margin: 0;
        margin-top: auto;
        padding: 1rem;
    }

    &__item {
        &:not(:last-child) {
            border-right: 1px solid $info_border-color;
        }

        &--homepage {
            display: none;

            @include media('>=phoneLg') {
                display: block;
            }
        }
    }
    
    &__link {
        background: 1rem center / $info_icon-size no-repeat $info_background;
        color: $info_link-color;
        display: flex;
        font-size: $info_font-size;
        font-weight: $info_font-weight;
        justify-content: center;
        margin: -1rem 0;
        padding: 1rem;
        padding-left: 3.6rem;
        text-decoration: none;

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                text-decoration: underline;
                text-decoration-color: $info_link-color--hover;
                text-underline-offset: 0.3rem;
            }
        }

        &--github {
            background-image: url('./images/icons/#{$info_icon-github}.svg');
        }
        
        &--home {
            background-image: url('./images/icons/#{$info_icon-home}.svg');
        }

        &--code {
            background-image: url('./images/icons/#{$info_icon-code}.svg');
        }
    }

    &__text {
        color: $info_link-color;
        padding: 1rem;
    }
}