$nav_max-width: 40rem;
$nav_scrollbar-thumb: var(--accent-dark);
$nav_scrollbar-track: var(--accent-light);
$nav_scrollbar-width: 1rem;
$nav_toggle-background: var(--accent-dark);
$nav_toggle-icon-close: 'icon-x';
$nav_toggle-icon-open: 'icon-menu-2';
$nav_toggle-icon-size: 60%;
$nav_toggle-size: 5rem;

.nav {
    $root: &;

    flex: 0 0 100vw;
    margin-left: -100%;
    scrollbar-width: $nav_scrollbar-width;
    scrollbar-color: $nav_scrollbar-thumb $nav_scrollbar-track;

    ::-webkit-scrollbar {
        width: $nav_scrollbar-width;
    }

    ::-webkit-scrollbar-track {
        background: $nav_scrollbar-track;
    }

    ::-webkit-scrollbar-thumb {
        background-color: $nav_scrollbar-thumb;
    }
    
    @include media('>=laptop') {
        flex: 0 0 $nav_max-width;
        margin-left: 0;
    }

    &--active {
        margin-left: 0;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 98;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 100%;
            width: 999rem;
            height: 999rem;
            background-color: rgba(#000, 0.7);

            @include media('>=laptop') {
                content: none;
            }
        }

        @include media('>=laptop') {
            margin-left: -#{$nav_max-width};
        }

        #{$root}__toggle {
            right: 0;
            border-radius: 0;
            background-image: url('./images/icons/#{$nav_toggle-icon-close}.svg');

            @include media('>=laptop') {
                background-image:  url('./images/icons/#{$nav_toggle-icon-open}.svg');
                right: -5rem;
                border-radius: 0 1rem 1rem 0;
            }
        }
    }

    &__toggle {
        width: $nav_toggle-size;
        height: $nav_toggle-size;
        background: center center / $nav_toggle-icon-size no-repeat $nav_toggle-background;
        background-image:  url('./images/icons/#{$nav_toggle-icon-open}.svg');
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0.5rem;
        right: -5rem;
        cursor: pointer;
        z-index: 99;
        border-radius: 0 1rem 1rem 0;

        @include media('>=laptop') {
            background-image:  url('./images/icons/#{$nav_toggle-icon-close}.svg');
        }
    }
}