.navbar {
    padding: 0 2rem 0 7rem;
    background-color: var(--bg-light);

    &__matching {    
        display: none;
        
        @include media('>=tablet') {
            display: block;
        }

        span {
            font-weight: 700;
            font-size: 1.3rem;
            color: var(--color-light);
            display: inline-block;
            padding: 0.3rem 0.5rem;
            border-radius: 0.3rem;
            background-color: var(--accent-dark);
        }
    }

    &__input {
        width: 20rem;
        border: 2px solid var(--accent-dark);
        padding: 0.8rem 1rem;
        border-radius: 0.5rem;
        outline: none;

        @include media('>=tablet') {
            width: 25rem;
        }
    }
}