.overlay {
    $root: &;

    background-color: rgba(#222, 0.8);
    cursor: pointer;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;

    ._sidebar & {
        display: block;

        @include media('>=laptopLg') {
            display: none;
        }
    }
}