.reset {
    display: flex;
    gap: 1rem;

    &__button {
        flex: 0 0 calc(50% - 0.5rem);
        display: flex;
        align-items: center;
        border: 2px solid var(--accent-dark);
        background-color: var(--accent-light);
        color: var(--accent-dark);
        padding: 1rem;
        border-radius: 0.3rem;
        cursor: pointer;
        transition: all 0.25s linear;
        padding-left: 4.3rem;
        border-radius: 0.5rem;
        font-weight: 700;
        font-size: 1.2rem;

        &:hover {
            text-decoration: underline;
        }

        &--filter {
            background: url('./images/icons/icon-filter-cancel.svg') 1rem center no-repeat;
        }

        &--cards {
            background: url('./images/icons/icon-settings-cancel.svg') 1rem center no-repeat;
        }
    }
}