$stats_cards-background: var(--color-light);
$stats_cards-color: var(--accent-dark);
$stats_item-size: 5rem;
$stats_percentage-background: var(--color-light);
$stats_percentage-border: 2px solid var(--accent-light);
$stats_percentage-color: var(--accent-light);

.stats {
    $root: &;

    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;

    &__average {
        color: var(--card-animal);
        font-size: 1.2rem;
        width: 12rem;
        padding: 0.5rem 1rem;
        border: 1px dashed var(--card-animal);
        border-radius: 3px;

        span {  
            text-decoration: underline;
            font-weight: 700;
            display: inline-block;
            letter-spacing: -1px;
            border-radius: 3px;
            padding: 0 0.2rem;
        }
    }

    &__item {
        width: $stats_item-size - 1;
        height: $stats_item-size - 1;
        margin: 1rem;
        position: relative;

        @include media('>=tablet') {
            width: $stats_item-size;
            height: $stats_item-size;
        }

        &::after {
            content: '';
            background-color: rgba(#fff, 0.25);
            width: 100%;
            height: 100%;
            display: block;
        }

        &:nth-child(6),
        &:nth-child(16) {
            margin-bottom: 3rem;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                top: 135%;
                right: 0;
                right: 0;
                width: 12rem;
                height: 0.1rem;
                background-color: #ddd;
            }
        }

        &--empty {
            filter: grayscale(100%);
            opacity: 0.25;
        }

        &--cards {
            flex: 0 0 80%;
            height: auto;
            margin-bottom: 1.6rem;
            
            #{$root}__label {
                background-color: var(--accent-light);
                border-radius: 0;
                padding: 0.5rem;
                height: auto;
            }
        }
    }

    &__label {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1.2rem;
        font-weight: 700;
        z-index: 5;
        height: 1.5rem;
        width: 100%;
        text-align: center;
        
        &--cards {
            background-color: $stats_cards-color;
            color: $stats_cards-background;
            top: -0.7rem;
            line-height: 1.5rem;
            border-radius: 3px;
        }

        &--percentage {
            color: $stats_percentage-color;
            border-top: $stats_percentage-border;
            background-color: $stats_percentage-background;
            bottom: -0.7rem;
            line-height: 1.2;
            letter-spacing: -1px;
        }
    }
}