$toggle_icon-size: 60%;
$toggle_nav-background--mobile: var(--accent-dark);
$toggle_nav-background: var(--accent-light);
$toggle_nav-icon-close: 'icon-x';
$toggle_nav-icon-open: 'icon-adjustments-alt';
$toggle_size: 5rem;
$toggle_stats-background: var(--color-light);
$toggle_stats-icon-close: 'icon-x';
$toggle_stats-icon-open: 'icon-chart-pie-on';

.toggle {
    $root: &;

    width: $toggle_size;
    height: $toggle_size;
    background: center center / $toggle_icon-size no-repeat;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0.5rem;
    cursor: pointer;

    @include media('>=laptop') {
        border: 0.3rem solid var(--color-white);
    }

    &--nav {
        right: -5rem;
        border-left: 0;
        background-color: $toggle_nav-background;
        background-image:  url('./images/icons/#{$toggle_nav-icon-open}.svg');

        @include media('<phone') {
            ._active & {
                right: 0;
                background-color: $toggle_nav-background--mobile;
                background-image:  url('./images/icons/#{$toggle_nav-icon-close}.svg');
                border: 0;
                top: 0;
                width: 4rem;
                height: 4rem;
            }
        }

        @include media('>=phone') {
            border-radius: 0 1rem 1rem 0;
        }

        @include media('>=laptop') {
            background-image:  url('./images/icons/#{$toggle_nav-icon-close}.svg');
        }

        ._active & {
            background-image:  url('./images/icons/#{$toggle_nav-icon-close}.svg');

            @include media('>=laptop') {
                background-image:  url('./images/icons/#{$toggle_nav-icon-open}.svg');
            }
        }
    }

    &--stats {
        left: -5rem;
        border-radius: 1rem 0 0 1rem;
        border-right: 0;
        background-color: $toggle_stats-background;
        background-image:  url('./images/icons/#{$toggle_stats-icon-open}.svg');
        
        ._active & {
            background-image:  url('./images/icons/#{$toggle_stats-icon-close}.svg');
        }
        
        @include media('>=laptop') {
            background-image:  url('./images/icons/#{$toggle_stats-icon-close}.svg');
            
            ._active & {
                background-image:  url('./images/icons/#{$toggle_stats-icon-open}.svg');
            }
        }
    }
}