$topbar_icon-close: 'adjustments';
$topbar_icon-reset: 'x';
$topbar_icon-reset--size: 1.6rem;

$topbar_border-color: var(--color-primary-medium);

$topbar_label-color: var(--color-primary-dark);
$topbar_label-size: 1.2rem;
$topbar_label-weight: 500;

$topbar_stat-color: var(--color-black);
$topbar_stat-size: 1.5rem;
$topbar_stat-weight: 600;

$topbar_input-color: var(--color-black);
$topbar_input-size: 1.5rem;
$topbar_input-weight: 500;

$topbar_placeholder-color: var(--color-primary-medium);
$topbar_placeholder-size: 1.5rem;
$topbar_placeholder-weight: 500;

.topbar {
    $root: &;

    align-items: center;
    background-color: var(--color-primary-light);
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
    display: flex;
    font-size: 1.5rem;
    font-weight: 600;
    justify-content: flex-end;
    padding: 1.6rem 1.6rem 0.8rem 5.6rem;
    position: sticky;
    top: 0;
    z-index: 99;

    @include media('>=phone') {
        justify-content: center;
    }

    @include media('>=laptopLg') {
        padding-left: 1.6rem;

        ._sidebar & {
            padding-left: 5.6rem;
        }
    }

    &__menu {
        background: url('./images/icons/#{$topbar_icon-close}.svg') center center / 2.5rem no-repeat var(--accent-light);
        border-radius: 0 1rem 1rem 0;
        cursor: pointer;
        height: 4rem;
        left: 0;
        position: absolute;
        top: 1.3rem;
        width: 4rem;

        @include media('>=laptopLg') {
            display: none;

            ._sidebar & {
                display: block;
            }
        }
    }

    &__form {
        display: flex;
    }

    &__section {
        display: flex;
        padding: 0.7rem 0.5rem;
        position: relative;

        @include media('>=phoneLg') {
            padding-inline: 1rem;
        }

        &:not(:last-child) {
            border-right: 1px solid $topbar_border-color;
        }

        &--action {
            display: none;

            @include media('>=tablet') {
                display: flex;
            }
        }
    }

    &__item {
        border: 1px solid $topbar_border-color;
        display: flex;
        height: 3rem;
        margin-inline: 0.5rem;
        position: relative;

        &::before {
            bottom: 100%;
            color: $topbar_label-color;
            content: attr(data-label);
            font-size: $topbar_label-size;
            font-weight: $topbar_label-weight;
            margin-bottom: 0.2rem;
            overflow: hidden;
            position: absolute;
            text-transform: uppercase;
            white-space: nowrap;;
        }

        &--action {
            @include media('>=desktop') {
                width: 23rem;
            }

            #{$root}__input {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 100%;

                &:placeholder-shown + #{$root}__reset {
                    display: none;
                }
            }
        }
    }

    &__icon {
        width: 1.6rem;
    }

    &__input {
        border: 0;
        color: $topbar_input-color;
        cursor: pointer;
        font-size: $topbar_input-size;
        font-weight: $topbar_input-weight;
        height: 100%;
        margin: 0;
        outline: none;
        padding: 0 1rem;

        &::placeholder {
            color: $topbar_placeholder-color;
            font-size: $topbar_placeholder-size;
            font-weight: $topbar_placeholder-weight;
        }
    }

    &__reset {
        background: url('./images/icons/#{$topbar_icon-reset}.svg') center center / #{$topbar_icon-reset--size} no-repeat var(--color-white);
        border-left: 1px solid var(--color-primary-light);
        border-radius: 0 1rem 1rem 0;
        cursor: pointer;
        height: 2.8rem;
        position: absolute;
        right: 0;
        top: 0;
        width: 2.8rem;
    }

    &__checkbox {
        height: 0;
        width: 0;
    }

    &__label {
        align-items: center;
        color: $topbar_stat-color;
        cursor: pointer;
        display: flex;
        font-size: $topbar_stat-size;
        font-weight: $topbar_stat-weight;
        justify-content: center;
        position: relative;
        width: 6.5rem;
        
        @include media('>=phoneLg') {
            width: 8rem;
        }

        &--option {
            background-size: 3rem 3100%;
            border-radius: 0;
            filter: grayscale(1);
            opacity: 0.2;
            padding-left: 3rem;

            .checkbox:checked + & {
                filter: grayscale(0);
                opacity: 1;
            }
        }

        &--action,
        &--sort {
            width: 3rem;
        }
    }
}