@import '../../node_modules/normalize.css/normalize';
@import '../../node_modules/include-media/dist/include-media';

@import './variables.scss';

$general_scrollbar-thumb: var(--scroll-light);
$general_scrollbar-track: var(--scroll-dark);
$general_scrollbar-width: 1rem;

html {
    font-size: 62.5%;
}

html,
body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    max-width: 100%;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font: 400 1.4rem/1.2 'Manrope', Tahoma, Verdana, sans-serif;
    overflow-x: hidden;
    scrollbar-width: $general_scrollbar-width;
    scrollbar-color: $general_scrollbar-track $general_scrollbar-thumb;
}

::-webkit-scrollbar {
    width: $general_scrollbar-width;
}

::-webkit-scrollbar-track {
    background: $general_scrollbar-thumb;
}

::-webkit-scrollbar-thumb {
    background-color: $general_scrollbar-track;
}

@import './components/actions';
@import './components/button';
@import './components/card';
@import './components/container';
@import './components/content';
@import './components/filter';
@import './components/icon';
@import './components/information';
@import './components/stats';
@import './components/toggle';
