@import '../../node_modules/normalize.css/normalize';
@import '../../node_modules/include-media/dist/include-media';

@import './variables.scss';

$general_scrollbar-thumb: var(--scroll-light);
$general_scrollbar-track: var(--scroll-dark);
$general_scrollbar-width: 1rem;

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

html,
body {
    max-width: 100%;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

html {
    box-sizing: border-box;
    height: -webkit-fill-available;
}


body {
    font: 400 1.5rem/1.2 'Rajdhani', Tahoma, Verdana, sans-serif;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    overflow-x: hidden;
    scrollbar-color: $general_scrollbar-track $general_scrollbar-thumb;
    scrollbar-width: $general_scrollbar-width;
}

::-webkit-scrollbar {
    width: $general_scrollbar-width;
}

::-webkit-scrollbar-track {
    background: $general_scrollbar-thumb;
}

::-webkit-scrollbar-thumb {
    background-color: $general_scrollbar-track;
}

._no-scroll {
    overflow-y: hidden;
}

@import 'mixins';

@import './components/button';
@import './components/card';
@import './components/container';
@import './components/content';
@import './components/dialog';
@import './components/filter';
@import './components/header';
@import './components/icon';
@import './components/info';
@import './components/overlay';
@import './components/scroll';
@import './components/topbar';
