/* Include-media settings */
$breakpoints: (
    'phone': 370px,
    'phoneLg': 480px,
    'tablet': 768px,
    'laptop': 1024px,
    'laptopLg': 1280px,
    'desktop': 1440px
);

:root {
    --accent-dark: #365314;
    --accent-light: #65a30d;
    --bg-error: #fecaca;
    --bg-light: #f1f5f9;
    --card-animal: #fb923c;
    --card-sponsor: #558BAF;
    --card-margin: 0.5rem;
    --card-off: #888;
    --card-on: #65a30d;
    --card-width: 14rem;
    --color-error: #b91c1c;
    --color-light: #f1f5f9;
    --color-white: #fff;
    --scroll-dark: #d4d4d4;
    --scroll-light: #f5f5f5;
}